.container {
    width: 80vw;
    margin: 80px auto;

    h1 {
        font-size: 2.5em;
        text-align: center;
    }

    p {
        max-width: 700px;
        margin: 0 auto;
    }
}

.teamContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    align-items: center;
    justify-content: center;
    gap: 3em;
}