@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  position: fixed;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

#app-container {
  width: 100%;
  min-height: calc(100vh - 150px); // -150px for navbar height
  position: absolute;
}

// Let's not make text in SVGs selectable. It's bound to make things ugly.
svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.foreground {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}