
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 40px;
        text-align: center;
        
        @media (max-width: 650px) {
            font-size: 30px;
        }

        @media (max-width: 500px) {
            font-size: 24px;
        }
    }
}

.logo {
    width: 350px;
    max-width: 60%;
    min-width: 230px;
    margin-bottom: 20px;

    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 100%;
    }

    @media (max-width: 650px) {
        width: 300px;
    }

    @media (max-width: 650px) {
        max-width: 50%;
    }
}

